/.project

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.exe
#*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
/[Bb]in/
#[Dd]ebug*/
*.lib
*.sbr
obj/
/[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.csproj
*.unityproj
*.sln
/Builds/
advertisement/
Documents/
BUILDS/
/AssetStore/
MixamoAnimationStore/
/ConceptArt/
/Library/
/Temp/
.vs/NewFootball/v15/sqlite3/storage.ide
/python/Soccer_Data/*
/python/Tennis_Data/*
/python/models/*
/python/summaries/*
python/.ipynb_checkpoints/PPO-checkpoint.ipynb
/python/3DBall*
/Assets/A_HeadFootball/Models
Assets/Extensions/Logger/Editor/LoggerData.asset
Assets/Extensions/Logger/Editor/LoggerData.asset.meta
UnityPackageManager/manifest.json
python/UnityPlayer.dll
/.vs


